p {
  background-color: blueviolet;
}
.class1 {
  color: crimson;
}
.class2 {
  font-size: 30px;
}
#id1 {
  color: darkmagenta;
}
/* 그룸 선택자 */
#select1,
#select2 {
  background-color: orangered;
}
/* 자손 선택 */
#test1 ul li {
  background-color: rgb(250, 104, 60);
}
/* 자식 선택 */
#test1 > ul > li {
  background-color: darkgreen;
}

#test1 h4 {
  background-color: palevioletred;
}
/* 속성 선택자 */

/* 이름이 정확히 일치할 경우 */
div[name="name01"] {
  background-color: palevioletred;
}
/* ~은 단어가 포함되어 있는지의 여부를 판단한다. */
div[name="~name01"] {
  background-color: aqua;
}
/* 부분일치 */
div[class*="_c"] {
  color: blue;
}
/* ^= 시작 여부 일치 : 이 단어로 시작을 하는 지 */
div[class^="cl"] {
  /* background-color: tomato; */
}
/* 시작 일치 */
div[class|="div"] {
  background: darkorange;
}
/* $= 끝 일치 : 이 단어로 끝나는 지 */
div[class$="div"] {
  background: olivedrab;
}
/* 현제 선택자 */
/* 동일한 부모를 가진 형제 요소 중 div에 스타일 적용 */
#test2 ~ div {
  /* background: beige; */
}
/* test2의 바로 다음의 형제 요소의 div만 적용*/
#test2 + div {
  background-color: brown;
}
.area {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
/* 마우스 커서 스타일 적용 */
/* 마우스로 클릭했을 시 발생 */
#active-test:active {
  background-color: aquamarine;
  color: blueviolet;
}
/* 마우스 커서를 올렸을 시 스타일 적용 */
#hover-test:hover {
  font-size: small;
}
/* 검색 창 스타일 적용 */
input[type="text"]:focus {
  background-color: whitesmoke;
}
/* 체크박스 스타일 적용 */
/* 체크했을 때만 스타일 적용 */
input[type="checkbox"]:checked {
  width: 100px;
  height: 100px;
}
/* 버튼 스타일 적용 */
/* 클릭할 수 있는 경우 */
button:enabled {
  background-color: chartreuse;
}
button:disabled {
  background-color: aqua;
  color: black;
  border: 2px solid black;
}
/* 특정 위치에 있는 요소 선택 */
/* 첫번째 요소 선택 */
#test3 > ul > li:first-child {
  background-color: tomato;
}
/* 마지막 요소 선택 */
#test3 > ul > li:last-child {
  background-color: skyblue;
}
/* 중간 요소 선택 */
#test3 > ul > li:nth-child(4) {
  color: red;
}
/* 홀수 번호 */
#test3 > ul > li:nth-child(odd) {
  color: darkgreen;
}
/* 짝수 번호 */
#test3 > ul > li:nth-child(even) {
  color: navy;
}
/* nth-child와의 차이점 - li만 취급함 */
#test3 > ul > li:nth-of-type(2) {
  color: brown;
}
/* 밑에서부터 3번째 */
#test3 > ul > li:nth-last-child(3) {
  background-color: darkcyan;
}
#test3 > ul > li:nth-last-of-type(8) {
  background-color: darkviolet;
}
/* 가상요소 선택자 */
#test4 > p::before {
  content: "앞";
  color: rgb(31, 39, 39);
  background-color: palevioletred;
}

#test4 > p::after {
  content: "뒤";
  color: rgb(31, 39, 39);
  background-color: palevioletred;
}
/* 우선순위 테스트 */
#test5 {
  width: 200px;
  height: 200px;
}
.class5 {
  background-color: chartreuse;
}
div {
  background-color: blue;
}
div {
  background-color: aqua;
}
/* !important */
/* 인라인 스타일(style = "") */
/* 아이디 선택자(#id) */
/* 클래스 선택자(.class) */
/* 태그 선택자 */
