.container {
  background-color: whitesmoke;
  padding: 1rem;
  border: 1px solid gray;
  display: flex;
}
.tall {
  height: 200px;
}
.item {
  background-color: white;
  border: 2px solid gray;
  padding: 1rem;
  text-align: center;
}
/* flex - direction */
#fd {
  /* flex : 우측 정렬*/

  /* 중앙 정렬 */
  justify-content: center;
  /* row : (기본 값) 왼쪽 가로로 정렬 */
  flex-direction: row;
  /* row reverse : 오른쪽 가로로 정렬*/
  flex-direction: row-reverse;
  /* colum reverse : 아래 정렬*/
  flex-direction: column;
  /* colum reverse :아래서부터 정렬*/
  flex-direction: column-reverse;
}
/* justify - content */
#jc {
  /* 기본 값 : 왼쪽 정렬*/
  justify-content: flex-start;
  /* 오른쪽 정렬 */
  justify-content: flex-end;
  /* 중앙정렬 */
  justify-content: center;
  /* 아이템을 기준으로 중앙 정렬 */
  justify-content: space-around;
  /* 부모 박스 끝을 기준으로 중앙 정렬 */
  justify-content: space-between;
  /*전체 크기를 기준으로 동일 간격*/
  justify-content: space-evenly;
}
/* align-items */
#ai {
  /* 높이 자동 확장 */
  align-items: stretch;
  /* start 기준으로 위치 이동 */
  align-items: flex-start;
  /*상하 기준 중앙으로 이동  */
  align-items: center;
  /* 상하 기준 아래로 이동 */
  align-items: flex-end;
}
#fw {
  /* 줄바꿈 없이 */
  flex-wrap: nowrap;
  /* 줄바꿈 있음 */
  flex-wrap: wrap;
  /* 역방향 줄바꿈 */
  flex-wrap: wrap-reverse;
}
#fw .item {
  width: 100px;
  height: 100px;
  line-height: 100px;
}
/* align - self */

.self-start {
  /* 해당하는 아이템만 변환*/
  align-self: flex-start;
}
.self-center {
  align-self: center;
}
.self-end {
  align-self: flex-end;
}
/* order */
/*순서 변경 앞 : -1 , 뒤 : +1 */
.order1 {
  order: 1;
}
.order2 {
  order: -1;
}
.order3 {
  order: 3;
}
/*방법1 : 아이템 사이의 간격만 조정*/
#gap {
  gap: 5rem;
}
/*방법2 : 상하좌우 전부 2rem*/
#gap .item {
  margin: 2rem;
}
#grow-1 {
  /* 컨테이너 박스의 공간이 남았을 때 아이템 크기 늘리기*/
  /* flex - 컨테이너보다 아이템이 작을 때
  gorw값이 클수록 남은 공간을 더 많이 차지 */
  flex-grow: 1;
}
#grow-2 {
  flex-grow: 2;
}
#grow-3 {
  flex-grow: 1;
}
/* flex - shrink */
#shrink .item {
  width: 300px;
}
#shrink-1 {
  /* 창의 크기를 줄였을 때 아이템 크기를 그대로 둔다. */
  flex-shrink: 0;
}
#shrink-2 {
  /* 기본 값 */
  flex-shrink: 1;
}
#shrink-3 {
  /*창의 크기를 줄였을 때 아이템의 크기를 줄인다.  */
  flex-shrink: 2;
}
/* flex - basis  == width*/
#basis-1 {
  flex-basis: 100px;
}
#basis-2 {
  flex-basis: 200px;
}
#basis-3 {
  flex-basis: 150px;
}
/* flex ; flex-grow, flex - shrink, flex - basis */
#flex-1 {
  /* 기본 상태 */
  flex: 0 1 auto;
}
#flex-2 {
  /* 자주 쓰는 설정 : grow: 1 , shrink: 1, basis: 0%*/
  flex: 1;
}
#flex-3 {
  /* 고정 */
  flex: none;
}
/* align - content */
#ac {
  flex-wrap: wrap;
  height: 200px;
  /* 상단 정렬 */
  align-content: flex-start;
  /* 중앙 정렬 */
  align-content: center;
  /* 양 끝 정렬 */
  align-content: space-between;
  /* 중앙 정렬 */
  align-content: space-around;
}
