.response-color {
  background-color: blue;
  text-align: center;
}
/*------------- max-width는 데스크탑 기준 -------- */

/* 최대 1000px 부터 반영 */
@media (max-width: 1000px) {
  .response-color {
    background-color: cadetblue;
  }
}
/* 최대 600px부터 반영 */
@media (max-width: 600px) {
  .response-color {
    background-color: skyblue;
  }
}

/*------------ min-width는 모바일 기준---------- */

.response-color2 {
  background-color: tomato;
  text-align: center;
}
/* 최소 600px 부터 반영 */
@media (min-width: 600px) {
  .response-color2 {
    background-color: crimson;
  }
}
@media (min-width: 1000px) {
  .response-color2 {
    background-color: red;
  }
}
/*------------ flex 레이아웃 모바일 기준---------- */
.flex-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
}
.flex-container .item {
  background-color: palevioletred;
  height: 150px;
  line-height: 150px;
}
@media (min-width: 480px) {
  .flex-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .flex-container .item {
    /* 아이템 채우기 */
    flex: 1;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  text-align: center;
}
.grid-container .item {
  background-color: cadetblue;
  height: 100px;
  line-height: 100px;
}
@media (min-width: 500px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
