* {
  /* 전체 정리 */
  margin: 0;
  padding: 0;
}

.header {
  /* 헤더 정렬 */
  position: fixed;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  height: 60px;
  text-align: center;
  justify-content: space-between;
}
#logo {
  /* 로고 글자 */
  font-weight: bold;
  font-size: 2rem;
  padding: 5px;
}
/* 헤더 정리 */
.header a {
  line-height: 60px;
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-weight: 30px;
  margin-left: 20px;
}
/* header a의 블록 크기 변경 */
.alla a {
  display: inline-block;
}
/* header a의 마우스 상호작용 */
.alla a:hover {
  background-color: black;
  color: white;
}

/*main header 두껍게 */
#heading1,
#heading2,
#heading3 {
  font-size: 30px;
  font-weight: 1000;
}

/* 색 정하기 */
.main1 {
  background-color: black;
  color: white;
}
.main2 {
  background-color: salmon;
}
.main3 {
  background-color: palevioletred;
  color: darkslategray;
}
/* 메인 정렬 */
.main1,
.main2,
.main3 {
  /* 좌우 여백 남기기 */
  /* margin-left: 20px; */
  /* margin-right: 20px; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 700px;
}
/* lomen 꾸미기 */
#lomen {
  margin: 35px;
}
/* top 만들기 */
#top {
  background-color: black;
  color: wheat;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  right: 20px;
  text-align: center;
  line-height: 100px;
}
