* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: indigo;
  /* 그라데이션 */
  background: linear-gradient(yellowgreen, pink);
  height: 100vh;
  padding: 20px;
  display: flex;
}
.allbox {
  width: 280px;
  /* height: 400px; */
  border: 1px solid white;
  border-radius: 5%;
  text-align: center;
  margin: auto;
  padding: 20px;
}

#baobox > img {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
#huitext {
  font-size: 20px;
  font-weight: 10px;
  color: white;
  margin: 20px;
}
.allbox > a {
  text-decoration: none;
  color: white;
  margin: auto;
  display: block;
  line-height: 48px;
  border: 1px solid white;
  margin-bottom: 20px;
}

#git:hover,
#ins:hover {
  background-color: white;
  color: black;
  font-size: larger;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
