* {
  margin: 0;
  padding: 0;
}
body {
  background-color: coral;
}
.all {
  display: flex;
  height: 800px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#dateText,
#quoteE,
#quoteK {
  font-size: 2rem;
  font-weight: bold;
}
#dateText {
  margin-top: 100px;
  font-weight: bold;
}
#timeText {
  font-size: 3rem;
  font-weight: bold;
  margin: 10px;
}
#limitTime {
  font-size: 2rem;
  font-weight: bold;
  margin: 10px;
}
#quoteE {
  font-size: 1.5rem;
}
#quoteK {
  font-size: 1.5rem;
}
